<div>
    <h1>Meus dados</h1>
    <br>
    <p><strong>Nome: </strong>Pedro de Miranda Neto</p>
    <p><strong>Descrição: </strong>18 anos, loiro, surfa, joga basquete, programa e muito mais</p>
</div>  